.input-task{
    width: 400px;
    height: 360px;
    margin: 40px 60px 0 120px;
    border: 1px solid black;
    border-radius: 5px;
}

form{
    display: grid;
    grid-template-rows: 1fr;
}

form > input{
    margin: 20px 0 20px 0;
    height: 40px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px;
}

textarea{
    height: 200px;
    padding: 10px;
}

form > input[type=submit]{
    background-color: #32CD32;
    color: #fff;
}

::placeholder{
    font-weight: lighter;
}

.view-task{
    margin-top: 20px;
}

.main{
    display: flex;
    flex-direction: row;
}

