table{
    border-collapse: separate;
    border-spacing: 0 10px;
}
th{
    height: 60px;
    width: 350px;
    border-bottom: 1px solid rgb(167, 144, 144);
    padding-bottom: 20px;
}

td{
    height: 60px;
    padding: 10px;
}

tbody > tr{
    background-color: green;
}

